<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h3>Aromas Day</h3>
      <p>A community celebration in Aromas, California, bringing together local artists, musicians, food vendors, and neighbors for a day of fun in the country to help support our local non-profits.</p>
      <div class="contact">
        <span><i class="icon-calendar"></i> August 24, 2025</span>
        <span><i class="icon-email"></i> <a href="mailto:organizers@aromasday.org">organizers@aromasday.org</a></span>
      </div>
    </div>

    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#volunteer">Volunteer</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#become-a-sponsor">Sponsorship</a></li>
      </ul>
    </div>

    <div class="footer-section community">
      <h3>Get Involved</h3>
      <p>Aromas Day is made possible by our wonderful community volunteers and sponsors.</p>
      <div class="involvement-links">
        <a href="#volunteer" class="footer-button">Volunteer Now</a>
        <a href="#become-a-sponsor" class="footer-button">Become a Sponsor</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="social-icons">
      <a href="https://www.facebook.com/groups/4220340398093441" class="social-icon"><i class="icon-facebook"></i></a>
      <a href="https://www.instagram.com/aromas_day/" class="social-icon"><i class="icon-instagram"></i></a>
      <a href="/rss.xml" class="social-icon"><i class="icon-rss"></i></a>
    </div>
    <p class="copyright">© 2025 Aromas Day Organizers. Part of <a href="https://aromas.town/">Aromas.Town</a></p>
  </div>
</footer>
